<div class="container">
  <div class="jumbotron1 text-center">
    <h1>Dive Log - Mick Farrow</h1>
    <p>Responsive dive log application written in Angular</p> 
  </div>
  <nav class='navbar navbar-expand navbar-light bg-light'>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>      
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/dives']">Dives</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/locations']">Locations</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/marinelife']">Marine Life</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/settings']">Settings</a></li>
    </ul>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>